.form-control {
    margin-left: 30%;
    display: block;
    width: 40%;
    /*padding: .375rem .75rem;*/
    /*font-size: 1rem;*/
    /*font-weight: 400;*/
    /*line-height: 1.5;*/
    /*color: var(--bs-body-color);*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    /*background-color: var(--bs-body-bg);*/
    /*background-clip: padding-box;*/
    /*border: var(--bs-border-width) solid var(--bs-border-color);*/
    /*border-radius: var(--bs-border-radius);*/
    /*transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
}
.btn-primary {
    margin-top: 1%;
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}
body{
    background-color : #fafafa;
}