<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convertor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ STATIC_URL }}static/css/style.css">


</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Virtual Coder</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>
<div class="container" align="Center">
<form class="container-fluid justify-content-center custom-btn-nav-menu">
    <button id="jpgpng" type="button" onclick="window.location.href = '/JPG-TO-PNG';" class="btn btn-sm btn-outline-secondary custom-btn">JPG TO PNG </button>
    <button id="pngjpg" type="button" onclick="window.location.href = '/PNG-TO-JPG';" class="btn btn-sm btn-outline-secondary custom-btn">PNG TO JPG</button>
    <button id="jpgwebp" type="button" onclick="window.location.href = '/JPG-TO-WEBP';" class="btn btn-sm btn-outline-secondary custom-btn">JPG TO WEBP </button>
    <button id="webpjpg" type="button" onclick="window.location.href = '/WEBP-TO-JPG';" class="btn btn-sm btn-outline-secondary custom-btn">WEBP TO JPG </button>
    <button id="pngwebp" type="button" onclick="window.location.href = '/PNG-TO-WEBP';" class="btn btn-sm btn-outline-secondary custom-btn">PNG TO WEBP </button>
    <button id="webppng" type="button" onclick="window.location.href = '/WEBP-TO-PNG';" class="btn btn-sm btn-outline-secondary custom-btn">WEBP TO PNG</button>
    <button id="anytiff" type="button" onclick="window.location.href = '/ANY-TO-TIFF';" class="btn btn-sm btn-outline-secondary custom-btn">IMG TO TIFF</button>
</form>
</div>


<div class="container" align="Center" >
<form class="container-fluid justify-content-center custom-btn-nav-menu">

</form>
</div>

{% block content %}
{% endblock %}

</body>

</html>