{% extends 'home1.html' %}

{% block content %}

<div class="container-sm">
    <form action = "{{ url_for ('webp2jpg') }}" method="post" enctype="multipart/form-data" id="uploadForm">
        <input type="hidden" name="csrfmiddlewaretoken" value="HfnzzOaNZi94t5Vblc9v5NFJ4ooouA55Y4sAqekooOcWsprzy3Eq84UBEpil79BO">
        <h2 style="text-align: center !important; padding: 50px !important;">Chose a WEBP File To Convert Into JPG</h2>

        <div class="image-upload">

            <input type="file" class="form-control" id="image_file" name="image_file" accept=".webp">
        </div>

        <div class="container d-flex justify-content-center align-items-center mt-2">
            <button type="submit" class="btn btn-primary" >Upload</button>
        </div>

        {% if filename %}
            <div class="container d-flex justify-content-center align-items-center">
                <div class="mt-3 text-center">
                    <p> Your image is ready. Click to download </p>
                </div>
            </div>
           <div class="container d-flex justify-content-center align-items-center">
               <div class="mt-3 text-center" >
                    <a href="{{ filename }}" class="btn btn-success" download="">Download Image</a>
               </div>
           </div>
        {% elif error %}
           <div class="container d-flex justify-content-center align-items-center">
                    <div class="mt-3 text-center">
                        <p> {{ error }} </p>
                    </div>
           </div>
        {% endif %}
    </form>
</div>

{% endblock %}







